header ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

main {
  margin-top: 100px;
}
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.badge {
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
  margin-top: 50px;
}

.abt {
  display: flex;
  gap: 15px;
}
h2 {
  font-size: 33px;
}
.study {
  display: flex;
  align-items: center;
}
.study ul {
  display: flex;
  list-style: none;
  gap: 33px;
}
.grad {
  margin-top: 250px;
}
.grad ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.grad ul li {
  width: 100%;
  height: auto;
}

.block {
  display: flex;
}

.slogan {
  padding-left: 50px;
}
.unslog {
  display: flex;
  flex-direction: column;
}

.fotbag {
  width: 100%;
  border-top: 1px solid #bbb;
  padding: 14px 20px;
  box-sizing: border-box;
  background: #fff;
  color: #222;
}

.fot-inner {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.fot-left img {
  width: 42px;
  height: 42px;
  object-fit: contain;
  display: block;
  margin-top: 4px;
}

.fot-rows {
  display: grid;
  gap: 6px 24px;
}

.row {
  display: grid;
  grid-template-columns: 160px 1fr;
  align-items: center;
  column-gap: 16px;
}

.r-left {
  font-size: 13px;
  color: #222;
  white-space: nowrap;
}
